@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* RESET */
* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
*{
    margin:0;
    padding:0;
}
body{
    min-width: 550px;
}
.header{
    width:100%;
    height:100px;
    background: #ccc;
}
.container{
    background: rgb(42, 19, 170);
    padding-left:200px;
    padding-right:150px;
}
.nav{
    background: rgb(95, 21, 21);
    min-height: 400px;
    float:left;
}
.left{
    width:200px;
    background: yellow;
    margin-left:-100%;  /* linkse block naar omhoog links vant midden rechts volgt automatisch*/
    position:relative; /*offset van linkse kolom is hetzelfde als zijn width*/
    right:200px;
}
.center{
    width:100%;
    background:saddlebrown;
}
.right{
    width:150px;
    background: seagreen;
    margin-right:-150px;
}
.footer{
    width:100%;
    height:100px;
    clear:both;
    background:  #ccc;
}