@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* RESET */
* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
/* COLORS and FONTS */
body {
    color: rgb(252, 249, 251);
    text-align: center;
    font-size: 24px;
}
header {
    background: rgba(12, 12, 12, 0.836);
    grid-area: header;
}

nav {
    background: rgba(26, 106, 138, 0.651);
    color: pink;
    grid-area: nav;
}

main {
    background: darkslateblue;
    grid-area: content;
}

aside {
    background: rgba(30, 143, 255, 0.548);
    grid-area: side;
}
nav {
    background: rgba(97, 39, 131, 0.527);
    grid-area: nav;
}

footer {
    grid-area: footer;
    background: rgba(202, 235, 11, 0.959);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/* mobile grid*/
.container {
    display: grid;

  
    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";
  
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 2px;
  
    height: 100vh;
  }
  @media (max-width: 768px) {
    .container {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";
  
      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        minmax(75px, auto) /* Nav */
        1fr /* Content */
        minmax(75px, auto) /* Sidebar */
        auto; /* Footer */
    }
  
    nav, aside {
      margin: 0;
    }
  }